html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

div#Solve4Me_app
{
    background-color: black;
    display:flex;
    height: calc(100% - 10px);
    margin: 0px;
    padding: 5px;
}

div#input_container
{
    width: 50%;
    height: calc(100% - 5px);
    margin: 0px;
}

textarea#input
{
    width: calc(100% - 25px);
    height: calc(95% - 70px);
    background-color: lightblue;
    background-image: url('./icon.svg');
    background-repeat: no-repeat;
    background-size: 120px;
    border-radius: 10px;
    border: black 1px solid;
    opacity: 0.6;
    resize: none;
    padding: 10px;
    padding-top: 60px;
}

button#do_solve
{
    width: calc(100% - 3px);
    height: calc(5% - 3px);
    opacity: 0.6;
    border-radius: 10px;
    background-color: lightgrey;
}

div#output_container
{
    width: 50%;
    height: calc(100% - 5px);
    margin: 0px;
}

button#looper, button#looper:hover
{
    width: 100%;
    height: calc(5% - 3px);
    opacity: 0.6;
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightgrey;
}

section#output
{
    width: calc(100% - 22px);
    height: calc(95% - 31px);
    background-color: rgb(107, 167, 187);
    border: black 1px solid;
    border-radius: 10px;
    opacity: 0.6;
    padding: 10px;
    padding-top: 25px;
    overflow: auto;
    font-size: 1em;
    display: block;
}

button#do_solve:focus, button#do_solve:hover
{
    background-color: #b8b8b8;
}

div.formula
{
    border: black 1px solid;
    background-color: rgb(138, 198, 218);
    padding: 10px;
    margin: 10px;
}