html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#Solve4Me_app
{
    background-color: black;
    display:flex;
    height: calc(100% - 10px);
    margin: 0px;
    padding: 5px;
}

div#input_container
{
    width: 50%;
    height: calc(100% - 5px);
    margin: 0px;
}

textarea#input
{
    width: calc(100% - 25px);
    height: calc(95% - 70px);
    background-color: lightblue;
    background-image: url('./imgs/icon.svg');
    background-repeat: no-repeat;
    background-size: 120px;
    border-radius: 10px;
    border: black 1px solid;
    opacity: 0.6;
    resize: none;
    padding: 10px;
    padding-top: 60px;
    font-size: 1.5em;
}

button#do_solve
{
    width: calc(100% - 3px);
    height: calc(5% - 3px);
    opacity: 0.6;
    border-radius: 10px;
    background-color: lightgrey;
}

div#output_container
{
    width: 50%;
    height: calc(100% - 5px);
    margin: 0px;
}

button#looper, button#looper:hover
{
    width: 100%;
    height: calc(5% - 3px);
    opacity: 0.6;
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightgrey;
}

section#output
{
    width: calc(100% - 22px);
    height: calc(95% - 31px);
    background-color: rgb(107, 167, 187);
    border: black 1px solid;
    border-radius: 10px;
    opacity: 0.6;
    padding: 10px;
    padding-top: 25px;
    overflow: auto;
    font-size: 1.5em;
    display: block;
}

button#do_solve:focus, button#do_solve:hover
{
    background-color: #b8b8b8;
}

div.formula
{
    border: black 1px solid;
    background-color: rgb(143, 213, 237);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

div.step
{
    border: black 1px dashed;
    border-radius: 10px;
    background-color: rgb(150, 229, 255);
    padding: 10px;
    margin: 10px;
    color: rgb(9, 100, 220);
    display: flex;
    justify-content: center;
}

fmath
{
    float: center;
}

div.statement_id
{
    font-size: 1.8vh;
    display: flex;
    justify-content: center;
}

button
{
    font-size: 1.8vh;
}

.ma-block
{
    font-size: 2.2vh;
    text-align: center;
    width: 100%;
}